
@import '../../scss/breakpoint.scss';


.gearContainer {
    //height: 588px;
}
.leftGearSide {

    padding-top: 120px;
    padding-right: 80px;
}



.gearImage {
    object-fit: contain;

    //max-width: 689px;
    width: 100%;
    height: 300px;

    // @include

    // @include breakpoint-md {
    //    // object-fit: none;
    // }

}

.gearTabletView {

    text-align: center;
}

.rightImage {
    max-height: 600px;
}


// .bottomBuffer {

//     margin-bottom: 500px !important;
// }

