.addToCard {
    border-style: none;

    padding: 8px 30px

}

.quantityContainer{
    width: 90px;
    padding-left: 10px;
    padding-right: 10px;
}

.quantityButton {
    border-style: none;
}


.popup{
    position: fixed;
    top: 0;
    right: 0;
    //width: 500px;
    width: 100%;
    height:  100vh;
    background-color: rgba(0, 0,0, 0.2);
}

.innerpopUp {

    width: 377px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 30px;
    border: 2px solid red;
    padding: 40px 20px;
    z-index: 10;

}


.productDetail {
    padding-top: 120px;
}

.quantityBuffer {
    margin-top: 8px;
}

