@import '../../scss/colors.scss';
@import '../../scss/breakpoint.scss';

.checkoutDetails {
    
    border-radius: 4px;
    border: solid 1px red;

    padding: 62px 24px;
    margin-bottom: 15px;


    @include breakpoint-lg {
        padding: 62px 52px;
        // width: 730px;
    }

}

input {

    border-radius: 4px;
    border: solid 1px $grey;
    width: 100%;

    padding: 12px 15px;
}

.summaryContainer {

    padding: 15px 15px;
    border: solid 1px red;
    border-radius: 4px;



    @include breakpoint-lg {
        //width: 350px;
    }


}

.checkoutButton {

    
        border-style: none;
        width: 100%;
        padding: 8px 30px
    
    

}

.inputfield {
    //width: 309px;

    
    @include breakpoint-md {
    width: 300px;

    }
    @include breakpoint-lg {
        width: 250px;
    
    }

    @include breakpoint-xl {
        width: 309px;
    }
}

.billContainer {

}

.boldP {
    font-weight: bold;
}

.error {
    color: red;
}

.filler {
    min-height: 80px;
    background-color: $black;
}