@import '../../scss/breakpoint.scss';

.triStage {
    //height: 592px;
    //max-width: 1199px;


    // @include breakpoint-lg {
    //     max-height: 592px;
    // }

}


.firstImgStage {

    //width: 445px;



    width: 100%;
    height: 280px;



    
}


.thirdGallary {

    max-height:  368px;
    @include breakpoint-lg {
    max-height: 576px;
    }
}



