@import "../../scss/breakpoint.scss";

.firstContainer {
  text-align: center;

  height: 700px;
  border-radius: 4px;
  position: relative;
//   width: 100%;

  @include breakpoint-md {
    height: 720px;
  }

  @include breakpoint-lg {
    height: 500px;
    
  }
  //padding-right: 550px;
}

.firstImage {
  width: 198px;
  height: 237px;

  clip: rect(0px, 305px, 370px, 0px);
  position: relative;
  top: 60px;
  z-index: 1;

  @include breakpoint-lg {
    width: 305px;
    height: 376px;

    position: absolute;
    top: 130px;
    bottom: -6px;
    left: 100px;
  }


  @include breakpoint-xl {
      left: 300px;
  }
}

.testxx {
  //text-align: center;
}

.circle {

    width: 100%;
  position: relative;
  margin: auto;


  top: -280px;
  //z-index: -10;
 


  @include breakpoint-sm {

    // top: 332px;
    // left: 2px;
    top: -315px;
    left: 2px;

  }

  @include breakpoint-md {
    top: -390px;
    left: -15px;
     
  }



 
  
  @include breakpoint-lg {
    position: static;
  }
}

.firstDesc {
  width: 349px;
  height: 303px;
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  //right: 0;
  transform: translate(-50%, -50%);
  margin-top: 190px;

  text-align: center;

  @include breakpoint-lg {
    // position: relative;
    transform: none;
    top: 0;
    left: initial;
    margin-top: 120px;
    //right: 0;
    //position: static;

    right: 140px;
    top: 25px;
  }
}

.secondContainer {
  position: relative;
  border-radius: 4px;
  object-fit: contain;
}

.secondImg {
  border-radius: 4px;
  width: 100%;
  height: 320px;
}

.secondContainerDesc {
  position: absolute;
  left: 80px;
  top: 110px;
}

.thirdContainer {
  width: 100%;
}

.thirdImg {
  border-radius: 4px;

  width: 100%;
  margin-bottom: 15px;
  height: 200px;

  @include breakpoint-md {
    height: 320px;
    width: 339px;
    margin-bottom: 0px;
  }

  @include breakpoint-lg {
    //width: 540px;
    width: 100%;
    // ;
  }

  @include breakpoint-xl {
    //width: 110%;
  }
}

.thirdDesc {
  width: 100%;
  padding-top: 53px;
  padding-bottom: 53px;
  padding-left: 25px;

  @include breakpoint-md {
    width: 339px;
    height: 320px;
  }
  @include breakpoint-lg {
    //min-width: 540px;
    //width: 540px;
    width: 100%;
    padding-top: 120px;
    padding-left: 100px;
    height: 320px;
    border-radius: 4px;
  }
}
