@import './breakpoint.scss';


.type__H1 {

    font-family: 'Manrope-Bold';
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
}


.type__H2 {
    font-family: 'Manrope-Bold';
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
}

.type__H3 {
    font-family: 'Manrope-Bold';
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.5px;
}

.type__H4 {
    font-family: 'Manrope-Bold';
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
}

.type__H5 {
    font-family: 'Manrope-Bold';
    font-size: 18px;

    @include breakpoint-lg {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.7px;
    }
}

.type__H6 {
    font-family: 'Manrope-Bold';
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 1.3px;    
}


.overLine {

    font-family: 'Manrope-Regular';
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
}

.subTitle {
    font-family: 'Manrope-Bold';
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1px;
}

.type__body {
    font-family: "Manrope-Medium";
    font-size: 15px;
    line-height: 25px;
}