
@import '../../scss/colors.scss';
@import '../../scss/breakpoint.scss';
.navContainer {

    background-color: $dark;
    //background: transparent;
    color: $white;
    padding-top: 36px;
    padding-bottom: 20px;

    border-bottom: 1px solid $grey;
    //position: absolute;
    //position: absolute;
    position: relative;
    //top: 20px;
    
    z-index: 10;
    
}

.cart {
    width: 24px;
    height: 16px;
}

.navList {

    width: 480px;

}


.test:hover {
    color: red
}


.navDropDown {
    min-height: 340px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 76px;
    left: 0;
    z-index: 9;
    border-radius: 12px;


    @include breakpoint-md {
    padding-top: 130px;
    }
}

// .accBuff {
//     position: ;
// }

.wtf{

    display: flex;
    justify-content: space-between;
}